*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.thoitrang{
    background-image: url(hinhnen.jpg);
    background-position: 900px;
}
#logo img{
    width: 3%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav li{
    margin-right: 20px;
    margin-top: 15px;
}
nav a{
    text-decoration: none;
    color: #030303;
    font-size: 25px;
}
.thoitrang .sub-menu{
    position: absolute;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    display: none;
    top: auto;
    left: auto;
}
.thoitrang li:hover .sub-menu{
    display: flex;
}
nav li:hover{
    background-color: rgb(231, 243, 101);
    padding: 5px;
    border-radius: 10px;
}
main{
    padding: 50px;
}
marquee{
    margin-top:20 px;
    background-color: rgb(247, 247, 247);
}
.slide img{
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    height:auto;
}

h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 5px;
}
.section{
    margin-bottom: 50px;
}
.section p{
    text-align: center;
}
.section h2{
    text-transform: uppercase;
    text-align: center;
    color: rgb(178, 183, 109);
    margin-bottom: 20px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: calc(33.3% - 20px);
    margin-bottom: 50px;
    text-align: center;
}
.product img{
    width: 100%;
    border: 2px solid rgb(17, 17, 17);
    margin-bottom: 20px;
    border-radius: 10px;
}
.product h3{
    margin: 0;
}
.product p{
    margin: 10px 0;
}
.product button{
    background-color: #222;
    color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
section form{
    margin-left: 35%;  
}
section h2{
    text-transform: uppercase;
    text-align: center;
    color: chocolate;
    margin-bottom: 20px;
}
section form input{
    margin-left: 50px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
}
#email{
    margin-left: 77px;
}
#message{
    margin-left: 52px;
}
section form button{
    margin-top: 20px;
    width: 50px;
    height: 25px;
    margin-left: 366px;
}
footer{
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}
@media screen and(max-width: 768px) {
    header{
        padding: 10px;
    }
    nav ul{
        flex-wrap: wrap;
    }
    nav li{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .products{
        flex-wrap: wrap;
    }
    .product{
        width: calc(100%/2 - 10px);
        margin-bottom: 30px;
    }
    
}